/* Fuente general */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  line-height: 1.6;
}

/* Carrusel - Imágenes */
.carousel-inner img {
  height: 600px;
  object-fit: cover;
}

/* Imagen en sección "Quiénes somos" */
#img-nosotros {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/* Imagen del libro seleccionado (en formulario) */
#imagen-libro {
  display: flex;
  height: 400px;
  width: 400px;
}

#mapa iframe {
  width: 100%;
  height: 350px;
  border: 0;
  border-radius: 10px;
}

.navbar-red {
  background-color: #7e0a0a; /* rojo oscuro */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bg-rojo-sparrow {
  background-color: #7e0a0a; /* o el rojo que usaste */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

#quienes-somos h3 {
  font-weight: 700;
  font-size: 2.5rem;
}
